
*{
  padding: 0;
  margin: 0;
}

.container{
  background-image: url('./assets/img/tartaruga.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
}

.titulo{
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: yellowgreen;
  background-color: white;
  border-radius: 20%;
}

.titulo, h1{
  padding: 20px;
}

.titulo:hover{
  color: rgb(77, 168, 112);
  background-color: blue;
  transition: 0.5s;
}

.conteudo{
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
}

.uniformes{
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.camiseta{
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.botao{
  display: block;
  background-color: yellowgreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin: 50px;
}
.botao:hover{
  background-color: rgb(77, 168, 112);
  transition: 0.5s;
}


.descricao{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-family: 'Arial', sans-serif;
}

footer{
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
}

footer p{
  padding: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .conteudo {
    flex-wrap: wrap;
    gap: 20px;
  }

  .uniformes {
    width: 350px;
  }

  .camiseta {
    width: 250px;
  }

  .descricao {
    margin: 20px;
  }
}

/* Celulares grandes */
@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    text-align: center;
    margin: 20px;
  }

  .uniformes {
    width: 300px;
  }

  .camiseta {
    width: 220px;
  }

  .botao {
    margin: 20px auto;
  }

  .descricao {
    margin: 20px;
  }
}

/* Celulares pequenos */
@media (max-width: 480px) {
  .titulo {
    font-size: 22px;
    padding: 10px;
  }

  .uniformes {
    width: 250px;
  }

  .camiseta {
    width: 200px;
  }

  .descricao p {
    font-size: 14px;
  }

  .conteudo {
    padding: 15px;
  }
}
